.content {
    float: left;
    text-align: left;
    padding-left: 10%;
    padding-top: 3%;
    padding-right: 10%;
    padding-bottom: 100px;
}

.gallery {
    padding: 10%;
    width: 50%;
    max-width: 50%;
    float: left;
}

.formsub {
    background-color: rgb(253, 253, 253);
    outline: 2px dashed black;
    padding: 20px;
    width: 100%;
    max-width: fit-content;
}

.newsContent {
    background-color: rgb(253, 253, 253);
    outline: 2px dashed black;
    padding: 20px;
    height: 310px;
    min-height: 310px;
    overflow: auto;
}

.news {
    margin-left: 310px;
}

.newsImage {
    float: left;
    display: block;
}

q {
    font-style:italic;
}

a { 
    color: inherit;
} 

body {
    background-image: url("iconbg.png");
    background-repeat: repeat;
    font-family: Verdana, sans-serif;
}

.navbar {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
}
  
.left {
    float: left;
}

.titleImg {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

.right {
    float: right;
}
  
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(255, 0, 0);
}

footer {
    background-color:  rgb(34, 34, 34);
    position:fixed;
    width: 100%;
    margin-left: -8px;
    bottom: 0;
    
}

footer p {
    color: white;
    text-align: center;
}