.centrePage {
    max-width: 500px;
    margin: auto;
}

body {
    background-image: url("iconbg.png");
    background-repeat: repeat;
    overflow: hidden;
}

.navbar {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
}
  
.left {
    float: left;
}

.titleImg {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

.right {
    float: right;
}
  
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(255, 0, 0);
}

footer {
    background-color:  rgb(34, 34, 34);
    position: absolute;
    width: 100%;
    margin-left: -8px;
    bottom: 0;
}

footer p {
    color: white;
    text-align: center;
}